@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --text-color: white;
    --bg-url: url(./images/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.5);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg: url(./images/moon-star.svg);
}

.light{
    --text-color: black;
    --bg-url: url(./images/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.1);
    --surface-color: rgba(0, 0, 0, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg: url(./images/sun.svg);

}
.light .profile img{
    background-image: url(./images/avatar-light.png);
}

body{
    background: var(--bg-url) no-repeat top center/cover;
    height: 100%;
    
}
body *{
    color:var(--text-color);
    font-family: Inter;

}

#container{
    width: 100%;
    max-width: 588px;
    margin: 20px auto 0px;
    padding: 0px 24px;  
}
#profile{
    text-align: center;
    padding: 24px;
    
}
#profile img{
    height: 112px;
    margin: auto;    
}
#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 24px 0px;
    gap: 16px;
}

ul li a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    transition: background .3s ease-in-out;
}

ul li a:hover{
    background: var(--surface-color-hover);
    border: 1.5px solid white;
    
}

.icon{
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}
.icon a:hover{
    background: var(--highlight-color);
}
.icon a{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: background .3s ease-in-out;
}
footer{
    padding: 24px 0;
    text-align: center;
}
footer a{
    text-decoration: underline;
}

/* Swith */
.swicth{
    width: 64px;
    position: relative;
    margin: 4px auto;
}
.swicth button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: white var(--switch-bg) no-repeat center;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
    animation: slide-off .3s;
    transition: outline .3s ease-out;
}
.light .swicth button {

    animation: slide-on .3s forwards;
    /* right: 0;
    left: initial; */

}
.swicth button:hover{
    outline: 8px solid var(--highlight-color);
}
.swicth span{
    display: block;
    width: 64px;
    height: 24px;
    border: 1px solid var(--stroke-color);
    background-color: var(--surface-color);
    border-radius: 9999px;
   
   
}

@media (min-width: 700px){
    :root{
        --bg-url: url(./images/bg-desktop.jpg);
    }
    .light{
        --bg-url: url(./images/bg-desktop-light.jpg);
    }
}

@keyframes slide-on{
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}

@keyframes slide-off{
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}
